@media (min-width:481px) {
  div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
  }

  .a {
    width: 100%;
    height: 100px;
    background: black;
  }

  .b {
    width: 200px;
    min-height: 600px;
    float: left;
    display: static;
    background: black;
  }

  .pairContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .c, .d {
    width: 50%;
    height: 200px;
  }

  .c {
    background: black;
  }

  .d {
    background: black;
  }

  .quadContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .e, .f, .g, .h {
    max-width: 25%;
  }

  .e {
    background: black;
  }

  .f {
    background: black;
  }

  .g {
    background: black;
  }

  .h {
    background: black;
  }

  .i {
    max-width: 760px;
    height: 150px;
    background: black;
  }
}

@media (min-width:768px) {

  div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .a {
    width: 100%;
    height: 100px;
    background: #DB90E3;
  }

  .b {
    width: 200px;
    min-height: 600px;
    float: left;
    display: static;
    background: #DBC2E9;
  }

  .pairContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .c, .d {
    width: 50%;
    height: 200px;
  }

  .c {
    background: #727BDF;
  }

  .d {
    background: #2F69BD;
  }

  .quadContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .e, .f, .g, .h {
    max-width: 25%;
  }

  .e {
    background: #88A5DF;
  }

  .f {
    background: #BE98D5;
  }

  .g {
    background: #6EA1BC;
  }

  .h {
    background: #8DA5FF;
  }

  .i {
    max-width: 760px;
    height: 150px;
    background: #998DE3
  }
}