section {
  background: seagreen;
  color: #000000;
  text-align: center;
  min-width: 480px;
}

.pairContainer {
  display: flex;
  flex-wrap: row wrap;
}

.pair {
  flex: 50%;
}

.quadContainer {
  min-width: 480px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.quad {
  min-width: 240px;
  min-height: 250px;
}

#a {
  min-height: 75px;
  background: #91966E;
}

#b {
  min-height: 150px;
  max-height: fit-content;
  background: #DDD8D5;
}

#c, #d {
  min-height: 125px;
}

#c {
background: #9FA9A0;
}

#d {
  background: #BCAD90;
}

#e {
  background: #FFD8D8;
}

#f {
  background: #8999BD;
}

#g {
  background: #84636C;
}

#h {
  background: #f0f0d8;
}

#i {
  min-height: 80px;
  background: #AEC18B
}